<!DOCTYPE html>
<html>
    <head>
        <title>Aidez Papi Ninja!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <img src="images/404_ninja.png" alt="404_ninja" class="ninja"/>
        <h1>T'es pas très bon pour te sauver!</h1>
        <p>... et moi pas très bon pour me rappeller de mon nom...</p>
        <button type="submit"><a href="/">On y retourne?</a></button>
    </body>
</html>