<!DOCTYPE html>
<html>
    <head>
            <title>Aidez Papi Ninja!</title>
            <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <img src="images/404_ninja.png" alt="404_ninja" class="ninja"/>
        <h1>T'es pas très bon pour te sauver!</h1>
        <p>... et moi pas très bon pour me rappeller de mon nom...</p>
        <button type="submit"><a href="/">On y retourne?</a></button>
    </body>
</html>